.title-page {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 40px;
}
#turn_title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    opacity: 0.6;
}
.select_square {
    background-color: rgb(153, 150, 145);
    width: 110px;
    height: 110px;
}
.yellow_posDir {
    background-color: rgb(255, 255, 141);
    width: 110px;
    height: 110px;
}
.center-board {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  margin-top: 40px;
  border: 1px solid black;
  width: 880px;
  height: 880px;
}
.line_squares {
    display: flex;
    align-items: center;
}
.squares {
    border: 1px solid black;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.beige_square {
    background-color: #EBECD0;
    width: 110px;
    height: 110px;
}
.green_square {
    background-color: #779556;
    width: 110px;
    height: 110px;
}