<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../static/upload.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../static/base.css" rel="stylesheet" type="text/css" media="screen">
    <title>{% block title %}{% endblock %}</title>
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link active" aria-current="page" href="/train">Upload</a>
                </div>
            </div>
            </div>
        </nav>
        <h1 class="title-page">Train mode</h1>
        <div class="content">
            <h3 class="sub-title">Lets get things done</h3>
            <div class="center-board">
                <div class="board">
                    {% for i in range(8) %}
                        <div class="line_squares">
                        {% for j in range(8) %}
                            {% if (i + j) % 2 == 0 %}
                            <div id='square_{{(i, j)}}' class="squares beige_square">
                                {% if board[i][j] != "sw" and board[i][j] != "sb" %}
                                <img src="../static/images/{{board[i][j]}}.png" id="img_{{(i,j)}}" width="70px" height="80px" alt="{{board[i][j]}}"/>
                                {% endif %}
                            </div>
                            {% else %}
                            <div id='square_{{(i,j)}}' class="squares green_square">
                                {% if board[i][j] != "sw" and board[i][j] != "sb" %}
                                <img src="../static/images/{{board[i][j]}}.png" id="img_{{(i,j)}}" width="70px" height="80px" alt="{{board[i][j]}}"/>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>